:root {
	--theme-blue: #4990e2;
	--global-padding: 8px;
	--gap: 8px;
}
/* Typography */
* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
@font-face {
	font-family: 'Redaction';
	src: url("../fonts/Redaction_35-Regular.woff2");
}
.coral-pixels-regular {
	font-family: "Coral Pixels", serif;
	font-weight: 400;
	font-style: normal;
}
li {
	margin-left: 1em;
}
/* Layout and Structure */
html, body {
	height: 100svh;
	width: 100svw;
	overflow: hidden;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	align-content: center;
	user-select: none;
	background-image: url("../images/bg.gif");
	background-size: cover;
	background-color: #f2f6f5;
	padding: var(--gap);
}
@media (max-width: 600px) {
	body {
		/*background-image: none;*/
	}
}

.fade-out {
	opacity: 0 !important;
}
.fade-in {
	opacity: 1 !important;
}
.invisible {
	visibility: hidden !important;
}
.visible {
	visibility: visible !important;
}

#tooltip {
	width: 100%;
	padding: 15px;
	background-color: #4d91ff;
	/*border: var(--gap) solid white;*/
	border-bottom: 0;
	transition: 
		background-color 300ms linear, 
		opacity 0.3s ease;
	opacity: 1;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* Flex layout */
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.16);
}
#life-counter {
	/*font-weight: bold;*/
	font-size: 70px;
}
#tooltip-right {
	margin-left: auto;
	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	align-items: center;
}
#lives-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2px;
}
#lives-container .life {
	image-rendering: pixelated;
	height: 25px;
	/*opacity: 0.8;*/
}

#tooltip-right img {
	margin-top: auto;
	margin-bottom: auto;
	height: 60px;
	image-rendering: pixelated;
	cursor: pointer;
}

#grid-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min(100%, 800px);
	height: 100%;
	/*row-gap: var(--gap);*/
}

#grid {
	z-index: 0;
	padding-top: var(--gap);
	/*border: var(--gap) solid transparent;*/
	aspect-ratio: 1 / 1;
	gap: var(--gap);
	display: grid;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}


.cell-container {
	position: relative;
	display: flex;
	align-items: flex-end; /* vertical alignment */
	justify-content: center; /* horizontal alignment */
	width: 100%;
	height: 100%;
	z-index: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.cell-container.show-loading {
	background-image: url("../images/loading.gif");
}
.cell-content-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s ease;
	will-change: opacity;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.10);
}

.cell-content-container:hover {
	box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.16);
}

.cell-image {
	overflow: hidden;
	background-color: white;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 0.3s ease;
	will-change: opacity;
	transform: scale(1.2);
	top: 50%;
	left: 50%;
	transform-origin: 50% 50%;
	animation: circle-pan 4s linear infinite;
	/*animation: breathe 2s ease-in-out infinite alternate;*/
}
.cell-image.pause {
	animation-play-state: paused;
}
@keyframes circle-pan {
	0% {
		transform: 
			translate(-50%, -50%)
			scale(1.06) 
			rotate(0deg)
			translateX(3%)
			rotate(0deg);
		}
	100% {
		transform: 
			translate(-50%, -50%)
			scale(1.06)
			rotate(360deg)
			translateX(3%)
			rotate(-360deg);
	}
}
@keyframes rotate {
	0% {
    	transform: 
			translate(-50%, -50%) rotate(0deg)
			scale(1.5);
  }
  
  100% {
    transform: 
		translate(-50%, -50%) rotate(360deg)
		scale(1.5);
  }
}
@keyframes breathe {
	0% {
    	transform:
			translate(-50%, -50%)
			scale(1);
  	}
  
	100% {
		transform:
			translate(-50%, -50%)
			scale(1.1);
	}
}

.cell-word-display {
	z-index: 3;
	bottom: 0;
	position: absolute;
	color: white;
	font-size: 18px;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.4);
	pointer-events: none;
	/* so clicks pass through to cell if needed */
	transition: opacity 0.3s linear;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 600px) {
	.cell-word-display {
		font-size: 13px;
	}
}
.cell-mask {
	background-size: cover;
	z-index: 4;
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: #ededed;*/
	background-color: white;
	transition: opacity 0.3s linear;
}

#splash-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    opacity: 1;
    visibility: hidden;
    will-change: transform, opacity;
    transition:
        transform 1.6s cubic-bezier(0.25, 1, 0.5, 1),
        opacity 1.6s ease-out;
	pointer-events: none;
}
#splash-text {
	display: inline-block;
	text-align: center;
}

#splash-container.expand {
    visibility: visible;
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
}
@media (max-width: 600px) {
	#splash-container {
		width: 6em;
	}
	#splash-container.expand {
		transform: translate(-50%, -50%) scale(3);
	}
}
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
/* Buttons */
.button {
	display: inline-block;
	color: inherit !important;
	text-align: center;
	text-decoration: none;
	box-sizing: content-box;
	font-size: min(15px, max(4.4vw, 12px));
	padding: 10px 18px 10px 18px;
	margin: 12px 5px 12px 5px;
	width: 10ch;
	background-color: transparent;
	outline: none;
	border-radius: 8px;
	border: 1.5px solid;
	border-color: black;
}
.button:hover, .button:active, .button.active {
	background-color: var(--theme-blue);
	color: white !important;
	text-decoration: none;
	border-color: transparent;
}
.button:hover, .button:active {
	cursor: pointer;
}
.button.auto {
	width: auto;
}
input {
	color: inherit !important;
	text-align: center;
	box-sizing: content-box;
	font-size: min(15px, max(4.4vw, 12px));
	padding: 10px 18px 10px 18px;
	margin: 12px 5px 12px 5px;
	color: inherit;
	background-color: transparent;
	outline: none;
	border-radius: 8px;
	border: 1.5px solid;
	border-color: black;
}
.button.active, input:focus {
	opacity: 0.7;
}
a img {
  display: block; /* or inline-block if necessary */
  text-decoration: none;
}
span.half-line-break {
	width: 100%;
	display: block;
	height: 0.5em;
}